<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    US Time Zone Display
  </h1>
  <button (click)='time_pst()' [ngClass]="{ 'on': time_zone ==='pst' }">PST</button>
  <button (click)='time_mst()' [ngClass]="{ 'on':time_zone ==='mst' }">MST</button>
  <button (click)='time_cst()' [ngClass]="{ 'on': time_zone ==='cst' }">CST</button>
  <button (click)='time_est()' [ngClass]="{ 'on': time_zone ==='est' }">EST</button>
  <button (click)='clear()'>Clear</button>
  <h1>{{date_now |  date:'medium' }}</h1>
</div>
